---
import GithubLogo from "#/public/svg/github-black.svg"
import "@/components/ProjectCard.scss"
import Brekkland from "@/layouts/Brekkland.astro"
import Tags from "@/components/Tags.astro"
import { SquareChevronRight, BookType } from "@lucide/astro"
import { getCollection } from "astro:content"
const projects = await getCollection("projects")
import blem from "#/utilities/blem"
const bem = blem("ProjectCard")
import MagicDate from "@/components/Date"
import Row from "@/components/ProjectCardRow.astro"
const {
  id,
  data: {
    tags = [],
    updated,
    title,
    bin = "",
    hasBinary,
    hypothetical,
    published,
    repo,
    version,
    description,
    size = 0,
  },
} = Astro.props
console.log("<><>", hasBinary, "@>@>@", size)
const link = `/software/${id}`
const status = [
  id,
  hasBinary ? "tool" : "library",
  hypothetical ? "unpublished" : "published",
]
---

<>
  <li class={bem("", status)}>
    <a href={link} class={bem("link-wrapper", status)}>
      <div class={bem("key", status)}>
        <strong class={bem("title")}>{title ?? id}</strong>
        <span class={bem("version")}>{version}</span>
        <p class={bem("description")}>{description}</p>
      </div>
      <div class={bem("details")}>
        <Row show={!!updated} mods={["date", "updated"]} textLabel="Updated">
          {updated ? <MagicDate isoString={updated} /> : null}
        </Row>
        <Row
          show={!!published}
          mods={["date", "published"]}
          textLabel="Published"
        >
          <MagicDate isoString={published} />
        </Row>
      </div>
      <div class={bem("meta")}>
        <Row show={size > 0} mods={["library"]}>
          <BookType slot="label" />
          {size}KB
        </Row>
        <Row show={hasBinary} mods={["bin"]}>
          <SquareChevronRight slot="label" />{bin}</Row
        >
      </div>
    </a>
    <li class={bem("sugar", status)}>
      <a class={bem("link", "repo")} href={"//github.com/" + repo}>
        <strong class={bem("sugar-label")}>Source</strong>
        <GithubLogo />
      </a>
    </li>
  </li>
</>
